

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px auto;
    margin: 0px 180px;
}
.logo {
    font-size: 36px;
    font-weight: 900;
}
.resume {
    border: 1.5px solid #0D1321;
    border-radius:7px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 500;  
}

/*----------- Banner Design ------------*/
.banner-content {
    max-width: 1440px auto;
    height: 560px;
    background-image: url(/images/banner-bg.jpg);
    background-repeat: no-repeat;
    align-content: center;
    justify-items: center;
}
.banner-title{
    max-width: 650px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
}
.banner-btn{
    color: #fff;
    background-color: black;
    border-radius:7px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 500;
}
.banner-des{
    max-width: 700px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    color: #181818;
}