

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.common-btn {
    border: 1.5px solid #141414;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 500;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px auto;
    margin: 0px 180px;
}
.logo {
    font-size: 36px;
    font-weight: 900;
}
.resume {
    border: 1.5px solid #0D1321;
    border-radius:7px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 500;  
}

/*----------- Banner Design ------------*/
.banner-content {
    max-width: 1440px auto;
    height: 560px;
    background-image: url(/images/banner-bg.jpg);
    background-repeat: no-repeat;
    align-content: center;
    justify-items: center;
}
.banner-title{
    max-width: 650px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
}
.banner-btn{
    color: #fff;
    background-color: black;
    border-radius:7px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 500;
}
.banner-des{
    max-width: 700px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    color: #181818;
}

/*-------------- Main Section ---------------*/

.main-section {
    background-color: aliceblue;
    max-width: 1980px auto;
    margin: 50px 120px;
}
.main-header {
    align-content: center;
    justify-items: center;
    
}
.main-title{
    font-size: 30px;
    font-weight: 900;
}
.main-des{
    max-width: 700px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    color: #181818;
}


/*============== main body box-1 ==============*/
.main-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 50px;
    padding-bottom: 30px;
}
.box1-body{
    width: 50%;
}
.box1-img{
    width: 250px;
    height: 250px;
}
.box1-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #181818;
}


/*============== main body box-2 ==============*/
.main-box2{
    display: flex;
    align-items: center;
    margin: 10px 50px 50px;
    padding-bottom: 30px;
}
.box2-body{
    width: 50%;
    margin-left: 30px;
}
.box2-img{
    width: 250px;
    height: 250px;
}
.box2-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #181818;
}



/*============== main body box-3 ==============*/
.main-box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 50px;
    padding-bottom: 30px;
}
.box3-body{
    width: 50%;
}
.box3-img{
    width: 250px;
    height: 250px;
}
.box3-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #181818;
}

.target{
    max-width: 1980px auto;
    margin: 50px 120px;
}
.current-header{
    text-align: center;
    margin: 60px 80px;
}
.current-header h3 {
    font-size: 24px;
    font-weight: 900;
    color:#181818;
}
.current-header p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}


.c-box-body {
    display: flex;
}
.c-box1 {
    margin-right: 15px;
    padding: 20px;
    background-color: #fffbef;
    border-radius: 8px;
}
.c-box1 h4 {
    font-weight: 800;
}
.c-box1 p {
    font-size: 12px;
    font-weight: 400;
    color:#313131;
}
.c-box1 a {
    font-size: 12px;
    font-weight: 600;
}

.c-box2 {
    margin-right: 15px;
    padding: 20px;
    background-color: #e5f2ff;
    border-radius: 8px;
}
.c-box2 h4 {
    font-weight: 800;
}
.c-box2 p {
    font-size: 12px;
    font-weight: 400;
    color:#313131;
}
.c-box2 a {
    font-size: 12px;
    font-weight: 600;
}

.c-box3 {
    margin-right: 15px;
    padding: 20px;
    background-color:#efedf6;
    border-radius: 8px;
}
.c-box3 h4 {
    font-weight: 800;
}
.c-box3 p {
    font-size: 12px;
    font-weight: 400;
    color:#313131;
}
.c-box3 a {
    font-size: 12px;
    font-weight: 600;
}

.next-header{
    text-align: center;
    margin: 60px 80px;
}
.next-header h3 {
    font-size: 24px;
    font-weight: 900;
    color:#181818;
}
.next-header p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.n-box1 {
    display: flex;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.n-box1 img {
    width: 10%;
}
.n-box1 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.n-box1 h3 {
    font-size: 18px;
    font-weight: 900;
    color:#181818;
}
.n-box1 a {
    font-size: 13px;
    font-weight: 700;
}


.n-box2 {
    display: flex;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.n-box2 img {
    width: 10%;
}
.n-box2 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.n-box2 h3 {
    font-size: 18px;
    font-weight: 900;
    color:#181818;
}
.n-box2 a {
    font-size: 13px;
    font-weight: 700;
}


.n-box3 {
    display: flex;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.n-box3 img {
    width: 10%;
}
.n-box3 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.n-box3 h3 {
    font-size: 18px;
    font-weight: 900;
    color:#181818;
}
.n-box3 a {
    font-size: 13px;
    font-weight: 700;
}