*{
    margin: 0;
    padding: 0;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
.common-btn {
    border: 1.5px solid #141414;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px auto;
    margin: 20px 180px;
}
.logo {
    font-size: 36px;
    font-weight: 900;
}
.resume {
    border: 1.5px solid #0D1321;
    border-radius:7px;
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;  
}

/*============ Banner Design =============*/
.banner-content {
    padding: 20px 0;
    max-width: 1980px auto;
    height: 560px;
    background-image: url(/images/banner-bg.jpg);
    background-repeat: no-repeat;
    align-content: center;
    justify-items: center;
}
.banner-title{
    padding: 20px 0px;
    max-width: 650px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
}
.banner-des{
    padding-bottom: 20px;
    max-width: 700px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #181818;
}
.contact-btn{
    margin-bottom: 20px;
    color: #fff;
    background-color: black;
    border-radius:7px;
    padding: 10px 18px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}


/*============== Main Section ============*/

.main-section {
    background-color: aliceblue;
    max-width: 1980px auto;
    margin: 80px 120px;
    border-radius: 8px;
    padding: 20px;
}
.main-header {
    align-content: center;
    justify-items: center;
    padding: 20px 0;
}
.main-title{
    font-size: 30px;
    font-weight: 900;
}
.main-des{
    padding: 20px 0px;
    max-width: 800px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #181818;
}


/*============== main body box-1 ==============*/
.main-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 50px;
    padding-bottom: 30px;
}
.box1-body{
    width: 50%;
}
.box1-body p{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
    line-height: 30px;
    letter-spacing: 1px;
}
.box1-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #181818;
    line-height: 35px;
    letter-spacing: 1px;
}
.box1-img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}



/*============== main body box-2 ==============*/
.main-box2{
    display: flex;
    align-items: center;
    margin: 10px 50px 50px;
    padding-bottom: 30px;
}
.box2-body{
    width: 50%;
    margin-left: 30px;
}
.box2-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #181818;
    line-height: 35px;
    letter-spacing: 1px;
}
.box2-body p{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
    line-height: 30px;
    letter-spacing: 1px;
}
.box2-img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


/*============== main body box-3 ==============*/
.main-box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 50px;
    padding-bottom: 30px;
}
.box3-body{
    width: 50%;
}
.box3-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #181818;
    line-height: 35px;
    letter-spacing: 1px;
}
.box3-body p{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
    line-height: 30px;
    letter-spacing: 1px;
}
.box3-img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


/*================= My Inspiration ================*/
.ins-content {
    text-align: center;
    max-width: 1980px auto;
    margin: 50px 120px;
}
.ins-text h3{
    font-size: 24px;
    font-weight: 900;
    color:#181818;
}
.ins-text {
    margin: 20px auto;
    width: 70%;
}
.ins-text p {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 30px;
    letter-spacing: 1px;
}
.ins-video {
    padding: 35px 0px;
    border: 1px solid rgb(233, 227, 227);
    border-radius: 20px;
}
.ins-video iframe{
    text-align: center;
    border-radius: 20px;
}

/*================= Current Target ================*/
.target{
    max-width: 1980px auto;
    margin: 50px 120px;
}
.current-header{
    text-align: center;
    margin: 80px 130px 40px;
}
.current-header h3 {
    font-size: 24px;
    font-weight: 900;
    color:#181818;
    padding-bottom: 20px;
}
.current-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

.c-box-body {
    display: flex;
    gap: 40px;
}
.c-box1 {
    padding: 20px;
    background-color: #ccffb4;
    border-radius: 8px;
    width: 33%;
}
.c-box1 h4 {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0px;
}
.c-box1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    color:#313131;
    padding-bottom: 20px;
}
.c-box1 a {
    font-size: 12px;
    font-weight: 600;
}

.c-box2 {
    padding: 20px;
    background-color: #e5f2ff;
    border-radius: 8px;
    width: 33%;
}
.c-box2 h4 {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0px;
}
.c-box2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    color:#313131;
    padding-bottom: 20px;
}
.c-box2 a {
    font-size: 12px;
    font-weight: 600;
}

.c-box3 {
    padding: 20px;
    background-color:#efedf6;
    border-radius: 8px;
    width: 33%;
}
.c-box3 h4 {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0px;
}
.c-box3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    color:#313131;
    padding-bottom: 20px;
}
.c-box3 a {
    font-size: 12px;
    font-weight: 600;
}


/*================= Next Target ================*/
.next-header{
    text-align: center;
    margin: 80px 130px 40px;
}
.next-header h3 {
    font-size: 24px;
    font-weight: 900;
    color:#181818;
    padding-bottom: 20px;
}
.next-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}

.n-box1 {
    display: flex;
    gap: 40px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.n-box1 img {
    width: 90px;
    height: 90px;
}
.n-box1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}
.n-box1 h3 {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0px;
    letter-spacing: 1px;
}
.n-box1 a {
    font-size: 13px;
    font-weight: 700;
}


.n-box2 {
    display: flex;
    gap: 30px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.n-box2 img {
    width: 100px;
    height: 100px;
}
.n-box2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}
.n-box2 h3 {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0px;
    letter-spacing: 1px;
}
.n-box2 a {
    font-size: 13px;
    font-weight: 700;
}


.n-box3 {
    display: flex;
    gap: 30px;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.n-box3 img {
    width: 100px;
    height: 100px;
}
.n-box3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
}
.n-box3 h3 {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0px;
    letter-spacing: 1px;
}
.n-box3 a {
    font-size: 13px;
    font-weight: 700;
}


/*================= Footer Section ================*/
.footer-banner {
    background-image: url(/images/contact-us-line.jpg);
    background-size: cover;
    max-width: 1980px auto;
    margin: 80px 120px;
    border-radius: 8px;
    padding: 25px 125px;
    text-align: center;
}
.footer-banner h3 {
    font-size: 30px;
    font-weight: 800;
    color:#181818;
    padding-top: 20px;
}
.footer-banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 20px 130px;
}
.input-sec {
    padding: 20px 0;
}
.footer-banner input {
    padding: 11px 20px;
    width: 400px;
    border-radius: 8px;
    border: none;
    margin-right: 8px;
    font-size: 18px;
    letter-spacing: 1px;
}
.footer-banner button {
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.footer-content{
   background-color: #ebebebec;
}
.rightNreserved {
    max-width: 1980px auto;
    margin: 0px 120px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rightNreserved p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: green;
}

.rightNreserved span{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: red;
}
.footer-icon a {
    text-decoration: none;
}
.footer-icon img {
    width: 40px;
    height: 40px;
    padding: 0px 5px;
}